# ==============================================================================
# server
# ==============================================================================
SERVER_PORT=:8080

# ==============================================================================
# redis
# ==============================================================================
REDIS_ADDR=localhost:6379
REDIS_PASSWORD= pwd
REDIS_DB=0

# ==============================================================================
# cors
# ==============================================================================
ALLOWED_ORIGINS= *